#sections {
font-family:helvetica;
position: fixed;
bottom: 0px;
left: 0px;
right:0px;
z-index: 90;
background-color:rgba(255,255,255,1);
width:auto;
height:100px;
padding:30px;
border-top:1px solid black;
font-size:14px;
}

.text {
    display:none;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right:0px;
    margin:50px;
}
.boldText{
    font-size:24px;
    font-weight:bold;
    color:red;
}
.check{
    font-weight:bold;
    color:red;
}
#chart1 {
display: block;
position: fixed;
width:auto;
height:auto;
top: 0px;
left: 0px;
bottom:0px;
right:0px;
margin:10px;
z-index: -1;
border:1px solid black;
}
.annotation{
    font-family:helvetica;
    font-size:30px;
    position: fixed;
    width:400px;
    padding:20px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
    background-color:#ffffff;
    z-index: 90;
}
#annotation{
    background-color:#ffffff;
    z-index: 90;
}

#timeline{
    position:fixed;
    left:40px;
    bottom:40px;
}

#next{
    border:2px solid black;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    width:60px;
    text-align:center;
    position:fixed;
    right:40px;
    bottom:20px;
    font-size:18px;
    margin:auto;
    padding:10px;
}
#back{
    border:2px solid black;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    width:60px;
    text-align:center;
    position:fixed;
    right:120px;
    bottom:20px;
    font-size:18px;
    margin:auto;
    padding:10px;
}